# MIMIC-III

### Infos sur la dataset : https://physionet.org/content/mimiciii/1.4/

26 tables... quelles sont celles qui nous intéresse ?

### les 2 plus importantes :
- PRESCRIPTIONS.csv : médicaments donnés à chaque patient (date de début+fin d'administration)
- DIAGNOSES_ICD.csv : maladies diagnostiquées (ICD-9 et patient id)

### à savoir : 

- PATIENTS.csv : répertorie les patients, leur genre, date d'admission+sortie
- D_ICD_DIAGNOSES.csv et D_ICD_PROCEDURES.csv : associe le code ICD9 de chaque maladie à son nom (ex:01730 <-> tuberculosis of the eye)
- DRGCODES.csv : symptomes de chaque patient (je crois)
- MICROBIOLOGYEVENTS.csv : analyses biologiques des patients

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

## Exploration de DIAGNOSES_ICD.csv

In [7]:
df = pd.read_csv("mimic-iii/DIAGNOSES_ICD.csv")

In [8]:
df.head()

   row_id  subject_id  hadm_id  seq_num icd9_code
0  112344       10006   142345        1     99591
1  112345       10006   142345        2     99662
2  112346       10006   142345        3      5672
3  112347       10006   142345        4     40391
4  112348       10006   142345        5     42731

In [9]:
df.shape

(1761, 5)

#### cb de maladies différentes ? 581, pour 100 patients

In [13]:
df['icd9_code'].nunique()

581

In [14]:
df['subject_id'].nunique()

100

#### -> plusieurs maladies par patient

#### repartition de ces maladies ?

In [18]:
dp = df['icd9_code'].value_counts()
dp

4019     53
42731    48
5849     45
4280     39
25000    31
         ..
8730      1
3361      1
E8231     1
34401     1
45182     1
Name: icd9_code, Length: 581, dtype: int64

In [28]:
(dp==1).value_counts()

True     322
False    259
Name: icd9_code, dtype: int64

#### -> bcp de ces 581 maladies (322) n'apparaissent qu'une fois dans la base

In [31]:
(dp<5).value_counts()

True     505
False     76
Name: icd9_code, dtype: int64

#### -> la plupart de ces maladies (505) apparaissent moins de 5 fois dans la base